body {
    margin: 0;
    font-family: Mono;
    font-size: 16pt;
    line-height: 32px;
    background: #292023;
    color: #EDB9CB;
}

a {
    color: #3DADBE;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a:hover {
    border-bottom: 1px solid #3DADBE;
}

.left {
    float: left;
}
.right {
    float: right;
}

div#wrap {
    margin: 0 auto;
    width: 1024px;
}

div#header {
    float: left;
    width: 100%;
}
    div#header h1 {
        font-size: 16pt;
        margin-top: 20pt;
        margin-bottom: 0;
        float: left;
    }
        div#header h1 a {
            text-decoration: none;
            color: #DEADBE;
            border: none;
        }
    div#header ul {
        margin: 0;
        padding: 0;
        float: left;
        clear: both;
    }
        div#header ul li {
            display: inline;
            list-style: none;
            margin-right: 5px;
        }
            div#header ul li.active a {
                border-bottom: 1px solid #EDB9CB;
            }

div.post {
    float: left;
    width: 100%;
}
    div.post h2 {
        font-size: 20pt;
        margin-bottom: 0;
        font-weight: normal;
        margin-left: 10pt;
    }
        div.post h2 a {
            text-decoration: none;
        }
    div.post div.content {
        text-align: left;
    }
    div.post div.meta {
        font-size: 14pt;
    }
    
    div.post div.meta_small {
    	font-size: 12pt;
    }

div#footer {
    margin-bottom: 50px;
    font-size: 12pt;
    border-top: 1px dotted #DEADBE;
    padding-top: 8px;
    margin-top: 13px;
    float: left;
    width: 100%;
}